doctype
html(lang='es')
	head
		meta(charset='utf-8')
		title Atributos
	body
		nav
			ul
				//Atributos en línea
				li
					a(href='https://maps.google.com', target='_blank', class='link') Google Maps
				li
					a(href='https://translate.google.com' target='_blank' class='link') Google Translate
				//Atibutos multi línea
				li
					a(href='https://images.google.com' 
						target='_blank' 
						class='link') Google Images
