doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        title Estilos CSS
        style.
            h1.fx {
                background: linear-gradient(to top, peru, orange);
                color: white;
                padding: 20px;
                width: 140px;
                text-aling: center;
                border-radius: 10px;
                height: 200px;
                margin: 120px auto;
                transition: all 1s ease;
            }
            h1:hover {
                transform: scale(1.4);
            }
    body
        h1.fx Estilos CSS