doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        title Cometarios
    body
        h1 Comentarios
        //-- Este comentario solo es visible ne pug y no en HTML

        //-Bloque de cometario
            no visible en html

        //
            boque de comentario visible en html