doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		title comentarios
	body 
		// esto es un comentario visble en HTML
		h1 comentarios 
		//- este comentario solo de PUG no es visible en HTML

		//- esto es un comentario de
			multiples lineas de codigo 
			y no es visible en HTML

		//
			Esto es un comentario de 
			multiples lineas de codigo 
			y es visible en HTML