doctype
html(lang="es")
    include includes/header.pug
    body
        h1 Incluir PUG
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci harum aperiam cumque eos animi veniam debitis quaerat, numquam facere quas beatae inventore commodi quasi quidem deleniti corrupti doloremque? Et, quod.
        include includes/footer.pug