doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        title Incluir texto plano
        style 
            include plaintext/styles.css
    body
        h1 Incluir texto plano
        script
            include plaintext/app.js