doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Interadores
    body
        ul
            each val, index in ['brown', 'blue', 'red']
                li(style={ background: val, color:'#fff' })= index + ': ' + val