doctype
html(lang="en")
	include includ/header.pug
	body
		h1 incluir pug 
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus beatae totam molestias sequi, possimus dolorum enim quos quam maiores doloribus, sunt ullam modi eum eaque? Commodi enim architecto fuga laborum.

		include includes/footer.pug